

/*================================================     LOGIN      ====================================================*/

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
  
}

/*
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(255,255,255,0.1) 2px, transparent 2px);
  background-size: 80px 80px;
  opacity: 0.3;
}*/

.login-container {
  width: 250px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  position: relative;
}

.logo img {
  width: 80px;
  margin-bottom: 10px;
}

h2 {
  margin: 10px 0 5px;
  color: #003f5c;
}

p {
  font-size: 14px;
  color: gray;
}

.input-box {
  margin: 15px 0;
}

.input-box input {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.forgot {
  font-size: 12px;
  display: block;
  margin-bottom: 15px;
  color: #0077b6;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #0077b6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #023e8a;
}

.signup {
  margin-top: 10px;
  font-size: 13px;
}

.signup a {
  color: #0077b6;
  text-decoration: none;
}

/*/////////////////////////////////////////   SIGN-UP INTERFACE////////////////////////////////////////////////////////////////*/

.registration{
  /*width: 200px;
  height: 300px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;*/

   width: 250px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  position: relative;
}


.registration img{
  width: 80px;
  position: relative;
  display: flex;

}

.input-container {
  margin: 15px 0;
  justify-content: center
  ;
}

.input-container input{
  border-radius: 25px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.input-container button{
  margin-top: 10px;
  align-items: center;
  margin-left: 60px;

}

